<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/meta %>
    <title>Mark Hernandez</title>
    <% include ../partials/styles %>
  </head>
  <body>
    <% include ../partials/splash %>
    <% include ../partials/header %>
    <% include ../partials/content %>

    <script src="/js/index.js" charset="utf-8"></script>
  </body>
</html>
