<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/meta %>
    <title>Contact</title>
    <% include ../../partials/styles %>
  </head>
  <body>
    <% include ../../partials/header %>

    <div id='root'></div>

    <script src="/js/contact.js" charset="utf-8"></script>
  </body>
</html>
