<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/meta %>
    <title>Contact</title>
    <% include ../../partials/styles %>
  </head>
  <body>
    <% include ../../partials/header %>
  </body>
</html>
