<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/meta %>
    <title>About</title>
    <% include ../../partials/styles %>
  </head>
  <body>
    <% include ../../partials/header %>

    <% include ../../partials/main %>

    <script src="/js/vendor.js" charset="utf-8"></script>
    <script src="/js/about.js" charset="utf-8"></script>
  </body>
</html>
